edc-action-item==0.1.65
edc-adverse-event==0.1.19
edc-appointment==0.2.59
edc-auth==0.1.44
edc-base==0.3.12
edc-consent==0.2.37
edc-constants==0.2.23
edc-dashboard==0.2.63
edc-data-manager==0.2.40
edc-device==0.2.23
edc-export==0.2.39
edc-fabric==0.1.5a1
edc-facility==0.1.21
edc-fieldsets==0.1.6
edc-form-describer==0.1.5
edc-form-label==0.1.3
edc-form-validators==0.1.26
edc-identifier==0.2.35
edc-lab==0.2.59
edc-lab-dashboard==0.1.32
edc-label==0.1.27
edc-list-data==0.1.18
edc-locator==0.2.32
edc-metadata==0.2.50
edc-metadata-rules==0.1.20
edc-model==0.1.19
edc-model-admin==0.2.21
edc-model-fields==0.1.9
edc-model-wrapper==0.1.29
edc-navbar==0.1.35
edc-notification==0.1.34
edc-offstudy==0.2.22
edc-pdutils==0.1.22
edc-permissions==0.1.48
edc-pharmacy==0.1.2a9
edc-pharmacy-dashboard==0.1.1a10
edc-prn==0.1.14
edc-protocol==0.1.16
edc-randomization==0.1.24
edc-reference==0.1.43
edc-registration==0.2.41
edc-reportable==0.1.28
edc-reports==0.1.22
edc-rest==0.1.3
edc-review-dashboard==0.2.13
edc-screening==0.1.11
edc-search==0.1.10
edc-selenium==0.1.3
edc-sites==0.1.14
edc-subject-dashboard==0.1.45
edc-subject-model-wrappers==0.1.8
edc-test-utils==0.1.14
edc-timepoint==0.1.13
edc-utils==0.1.13
edc-visit-schedule==0.2.51
edc-visit-tracking==0.2.44
Django[argon2]==2.2.9
git+https://github.com/erikvw/django-simple-history@admin_revert_permissions
