boto3
celery
django-audit-fields
django-celery-beat
django-celery-results
django-collect-offline
django-collect-offline-files
django-crypto-fields
django-environ
django-extensions
django-ipware
django-redis
django-restframework
django-revision
django-storages
gunicorn
mysqlclient
pyrabbit
python-memcached
sentry_sdk
edc-action-item
edc-adverse-event
edc-appointment
edc-auth
edc-consent
edc-constants
edc-crf
edc-dashboard
edc-data-manager
edc-device
edc-export
edc-facility
edc-fieldsets
edc-form-label
edc-form-validators
edc-identifier
edc-lab
edc-lab-dashboard
edc-label
edc-list-data
edc-locator
edc-metadata
edc-metadata-rules
edc-model
edc-model-admin
edc-model-fields
edc-model-wrapper
edc-navbar
edc-notification
edc-offstudy
edc-pdutils
edc-pharmacy
edc-pharmacy-dashboard
edc-prn
edc-protocol
edc-randomization
edc-reference
edc-registration
edc-reportable
edc-reports
edc-review-dashboard
edc-screening
edc-search
edc-sites
edc-subject-dashboard
edc-subject-model-wrappers
edc-test-utils
edc-timepoint
edc-utils
edc-visit-schedule
edc-visit-tracking
git+https://github.com/erikvw/django-simple-history@admin_revert_permissions2
git+https://github.com/erikvw/django-multisite@master
Django[argon2]>=3.0.3