boto3
celery
gunicorn
mysqlclient
pyrabbit
python-memcached
sentry_sdk
argon2-cffi
django-audit-fields==0.1.16
django-celery-beat
django-celery-results
django-collect-offline==0.2.49
django-collect-offline-files==0.1.27
django-crypto-fields==0.1.30
django-environ
django-extensions
django-import-export
django-ipware
django-multisite
django-redis
django-restframework
django-revision==0.1.20
django-simple-history
django-storages
edc-action-item==0.3.2
edc-adverse-event==0.3.1
edc-appointment==0.3.1
edc-auth==0.3.4
edc-clinic==0.3.0
edc-consent==0.3.2
edc-constants==0.2.44
edc-crf==0.3.1
edc-dashboard==0.3.0
edc-data-manager==0.3.2
edc-device==0.3.1
edc-export==0.3.0
edc-facility==0.3.0
edc-fieldsets==0.3.0
edc-form-describer==0.1.7
edc-form-label==0.3.0
edc-form-validators==0.3.1
edc-identifier==0.3.1
edc-lab==0.3.0
edc-lab-dashboard==0.3.0
edc-label==0.1.30
edc-list-data==0.3.0
edc-locator==0.3.0
edc-ltfu==0.3.0
edc-metadata==0.3.0
edc-metadata-rules==0.3.0
edc-model==0.3.0
edc-model-admin==0.3.0
edc-model-fields==0.3.0
edc-model-wrapper==0.3.0
edc-navbar==0.3.0
edc-notification==0.3.0
edc-offstudy==0.3.0
edc-pdutils==0.1.25
edc-pharmacy==0.1.2a15
edc-pharmacy-dashboard==0.1.1a13
edc-prn==0.3.0
edc-protocol==0.3.0
edc-randomization==0.3.0
edc-reference==0.3.0
edc-registration==0.3.0
edc-reportable==0.3.0
edc-reports==0.3.0
edc-review-dashboard==0.3.0
edc-screening==0.3.0
edc-search==0.1.12
edc-sites==0.3.0
edc-subject-dashboard==0.3.0
edc-subject-model-wrappers==0.1.15
edc-test-utils==0.3.0
edc-timepoint==0.3.1
edc-transfer==0.3.0
edc-utils==0.1.24
edc-visit-schedule==0.3.0
edc-visit-tracking==0.3.0
git+https://github.com/erikvw/django-import-export@get_export_admin_action
Django==3.1.5
