boto3
celery
django-audit-fields==0.1.14
django-celery-beat
django-celery-results
django-collect-offline==0.2.49
django-collect-offline-files==0.1.27
django-crypto-fields==0.1.27
django-environ
django-extensions
django-ipware
django-multisite
django-redis
django-restframework
django-revision==0.1.20
django-storages
gunicorn
mysqlclient
pyrabbit
python-memcached
sentry_sdk
edc-action-item==0.1.71
edc-adverse-event==0.1.27
edc-appointment==0.2.67
edc-auth==0.1.57
edc-consent==0.2.54
edc-constants==0.2.32
edc-crf==0.1.2
edc-dashboard==0.2.71
edc-data-manager==0.2.48
edc-device==0.2.26
edc-export==0.2.47
edc-facility==0.1.33
edc-fieldsets==0.1.9
edc-form-label==0.1.6
edc-form-validators==0.1.30
edc-identifier==0.2.42
edc-lab==0.2.63
edc-lab-dashboard==0.1.35
edc-label==0.1.30
edc-list-data==0.1.21
edc-locator==0.2.35
edc-metadata==0.2.59
edc-metadata-rules==0.1.28
edc-model==0.1.27
edc-model-admin==0.2.28
edc-model-fields==0.1.13
edc-model-wrapper==0.1.31
edc-navbar==0.1.39
edc-notification==0.1.38
edc-offstudy==0.2.27
edc-pdutils==0.1.23
edc-pharmacy==0.1.2a14
edc-pharmacy-dashboard==0.1.1a13
edc-prn==0.1.18
edc-protocol==0.1.26
edc-randomization==0.1.45
edc-reference==0.1.48
edc-registration==0.2.46
edc-reportable==0.1.34
edc-reports==0.1.26
edc-review-dashboard==0.2.18
edc-screening==0.1.21
edc-search==0.1.12
edc-sites==0.1.28
edc-subject-dashboard==0.1.54
edc-subject-model-wrappers==0.1.12
edc-test-utils==0.1.35
edc-timepoint==0.1.16
edc-utils==0.1.23
edc-visit-schedule==0.2.56
edc-visit-tracking==0.2.49
git+https://github.com/erikvw/django-simple-history@admin_revert_permissions2
git+https://github.com/erikvw/django-multisite@master
Django[argon2]>=3.0.5